:root { 
--black_900_7f:#06002a7f; 
--gray_600:#797979; 
--gray_400:#b3b3b3; 
--gray_500:#979797; 
--gray_800:#4b4b4b; 
--gray_400_3f:#c0c0c03f; 
--green_700:#1bb319; 
--gray_700_3f:#5d5d5d3f; 
--gray_50:#fafafa; 
--green_A700:#15c013; 
--black_900_66:#06002a66; 
--black_900:#000000; 
--gray_400_26:#afafaf26; 
--black_901:#06002a; 
--white_A700:#ffffff; 
}